# TraceMyBus frontend local environment
# For Expo Web on same PC:
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8080/api

# For Android emulator use this instead:
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8080/api

# For Expo Go on a real mobile, replace with your computer IPv4 address:
# EXPO_PUBLIC_API_BASE_URL=http://192.168.0.9:8080/api

EXPO_PUBLIC_ANDROID_PACKAGE=com.tracemybus.app
